<?xml version='1.0' encoding='utf-8'?>
<widget id="io.asciicat.apitest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>altcointracker</name>
    <description>
        Altcoin Tracker
    </description>
    <author email="asciicatdesigns@gmail.com" href="https://asciicat.github.io">
        ASCIIcat
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="https://altcointrader.co.za/api/v1/live-stats" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>
